<!doctype html>
{% load static %}
<html lang="en"><head>
  <title>Story 6</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open Sans" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="overflow-x:hidden; background-color:#D8E4E5;">
	
	<div class="row">
		<h1 class="title">Hello, how are you?</h1>
		<div class="rectangle"></div>
	</div>
	
	<div class="row" style="padding-left:5vw; padding-right:5vw;">
		<form action="/" method = 'POST'>
			{% csrf_token %}
			<div class="form-row">
				<div class="col-sm"></div>
				<div class="form-group col-sm-8">  
					<div class="textfield">
						{% for fields in form %}
							{{ fields }}
						{% endfor %}
					</div>              
				</div>
				<div class="col-sm"></div>
			</div>
			<div class="row">
				<input type="submit" class="btn submit" value="Submit">
			</div>
			<br><br>
			<div>
				<div class="col-md-12">
					<div>
						<p id="status">Status</p>
						<p> 
							{% for stat in stats %}
							<div class="statusbox">
								<div class="row">
									<div class="col-sm">
										<p> {{ stat.status }}</p>
									</div>
								</div>  
							</div>
							<br> 
							{% endfor %}
						</p>               
					</div>
				</div>
			</div>
       </form>
	</div>

	<!--test-->
</body>
</html>