.title {
	position: relative;
	width: auto;
	height: 77px;
	left: 79px;

	font-family: Open Sans;
	font-style: bold;
	font-weight: 800;
	font-size: 35px;
	line-height: 77px;
	letter-spacing: 0.11em;

	color: #08154A;
	}
	
.statusbox{
    background-color: #675831;
    max-width: 800px;
    height: 40px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    color: white;
    font-size: 20px;
    font-family: Open Sans;
	text-align: center;

}

#status{
    font-family: Open Sans;
    font-size: 3vw;
}